FORMAT: 1A
HOST: https://api.4virtuals.com

# 4Virtuals API
4Virtuals is the world's largest marketplace for virtual goods and services. Check us out at https://www.4virtuals.com/about.

# Group Licensing
Send licenses to users that purchase your products. Licensing includes code management, global variables, HWID restriction, ban messages, program messages, ticketing, and more.


## Validate [/license/validate{?license_product_id,license,hwid}]
Validate a license that is given to your users.

+ Parameters
    + license_product_id (required, number, `06411-F8FB8-EA39F-87470-623D8`) ... The product `id` that this code is associated with. You can find this ID here (https://www.4virtuals.com/licensing/1). Hover over the magnifying glass.
    
    + license (required, number, `1`) ... The license that is automatically generated as part of a virtual delivery or given out manually. Create a virtual delivery here (https://www.4virtuals.com/deliveries/1).
    
    + hwid (optional, string, `TYH02-DJMKG3-SDF93`) ... HWID that is generated by you. After you have validated a license with a HWID once, every subsequent request has to provide the HWID again to pass validation. This is used for more security so users can only access your product from only one machine. This can be removed or edited from the 4Virtuals dashboard panel.

### Validate a license [GET]
+ Response 200 (application/json)

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }
+ Response 400 (application/json)

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }


