FORMAT: 1A
HOST: https://api.4virtuals.com

# 4Virtuals API
4Virtuals is the world's largest marketplace for virtual goods and services. Check us out at https://www.4virtuals.com/about.

# Group Licensing
Send licenses to users that purchase your products. Licensing includes code management, global variables, HWID restriction, ban messages, program messages, ticketing, and more.


## Validate [/license/validate{?license_product_id,license,hwid}]
Validate a license that is given to your users.

+ Parameters
    + license_product_id (required, number, `06411-F8FB8-EA39F-87470-623D8`) ... The product `id` that this code is associated with. You can find this ID here (https://www.4virtuals.com/licensing/1). Hover over the magnifying glass.
    
    + license (required, number, `1`) ... The license that is automatically generated as part of a virtual delivery or given out manually. Create a virtual delivery here (https://www.4virtuals.com/deliveries/1).
    
    + hwid (optional, string, `TYH02-DJMKG3-SDF93`) ... HWID that is generated by you. After you have validated a license with a HWID once, every subsequent request has to provide the HWID again to pass validation. This is used for more security so users can only access your product from only one machine. This can be removed or edited from the 4Virtuals dashboard panel.

### Validate a license [GET]
+ Response 200 (application/json)

    + Body

            { "status": "Success" }
+ Response 400 (application/json)

    + Body

            { "error": "Invalid license 5BEC4-B725C-92487-32B04-90E7A." }   
            
            { "error": "This license does not belong to this product." }   
            
            { "error": "License product ID is required." }
            
            { "error": "License is required." }
            
            
## Globals [/license/globals{?license_product_id,license,hwid,key}]
Lookup a global variable by key.

+ Parameters
    + license_product_id (required, number, `06411-F8FB8-EA39F-87470-623D8`) ... The product `id` that this code is associated with. You can find this ID here (https://www.4virtuals.com/licensing/1). Hover over the magnifying glass.
    
    + license (required, number, `1`) ... The license that is automatically generated as part of a virtual delivery or given out manually. Create a virtual delivery here (https://www.4virtuals.com/deliveries/1).
    
    + hwid (optional, string, `TYH02-DJMKG3-SDF93`) ... HWID that is generated by you. After you have validated a license with a HWID once, every subsequent request has to provide the HWID again to pass validation. This is used for more security so users can only access your product from only one machine. This can be removed or edited from the 4Virtuals dashboard panel.
    
    + key (required, string, `number_messages`) ... Key used to look up a value that is set in the 4Virtuals licensing dashboard.

### Lookup global [GET]
+ Response 200 (application/json)

    + Body

            { "global_1_key": "global_1_value" }
+ Response 400 (application/json)

    + Body
            
            { "error": "No global with key not_a_key." }
            
            
## Messages [/license/messages{?license_product_id,license,hwid,page,count}]
Get messages that are set by the product owner in the 4Virtuals dashboard.

+ Parameters
    + license_product_id (required, number, `06411-F8FB8-EA39F-87470-623D8`) ... The product `id` that this code is associated with. You can find this ID here (https://www.4virtuals.com/licensing/1). Hover over the magnifying glass.
    
    + license (required, number, `1`) ... The license that is automatically generated as part of a virtual delivery or given out manually. Create a virtual delivery here (https://www.4virtuals.com/deliveries/1).
    
    + hwid (optional, string, `TYH02-DJMKG3-SDF93`) ... HWID that is generated by you. After you have validated a license with a HWID once, every subsequent request has to provide the HWID again to pass validation. This is used for more security so users can only access your product from only one machine. This can be removed or edited from the 4Virtuals dashboard panel.
    
    + page = `1` (optional, string, `1`) ... Page number of messages.
        
    + count = `20` (optional, string, `20`) ... Number of messages retrieved at a time.
    
### Get messages [GET]
+ Response 200 (application/json)

    + Body

            {
                "meta": {
                    "licensing_messages_total": "3",
                    "licensing_messages_ids": ["3", "2", "1"],
                    "licensing_messages_page": 1
                },
                "license-messages": [{
                    "id": "3",
                    "license_product_id": "1",
                    "message": "We have released a new version of our product on our website.",
                    "status": "1",
                    "date_created": "1402206128"
                }, {
                    "id": "2",
                    "license_product_id": "1",
                    "message": "test2 message",
                    "status": "1",
                    "date_created": "1402206104"
                }, {
                    "id": "1",
                    "license_product_id": "1",
                    "message": "test1 message",
                    "status": "1",
                    "date_created": "1402133752"
                }]
            }
+ Response 400 (application/json)

    + Body
            
            { "error": "No global with key not_a_key." }
            
## Tickets [/license/ticket{?license_product_id,license,hwid}]
Create support tickets with you customers. Redirect your customers to the URL in the response.

+ Parameters
    + license_product_id (required, number, `06411-F8FB8-EA39F-87470-623D8`) ... The product `id` that this code is associated with. You can find this ID here (https://www.4virtuals.com/licensing/1). Hover over the magnifying glass.
    
    + license (required, number, `1`) ... The license that is automatically generated as part of a virtual delivery or given out manually. Create a virtual delivery here (https://www.4virtuals.com/deliveries/1).
    
    + hwid (optional, string, `TYH02-DJMKG3-SDF93`) ... HWID that is generated by you. After you have validated a license with a HWID once, every subsequent request has to provide the HWID again to pass validation. This is used for more security so users can only access your product from only one machine. This can be removed or edited from the 4Virtuals dashboard panel.
    
### Get a support ticket [GET]
+ Response 200 (application/json)

    + Body

            { "url": "https:\/\/support.4virtuals.com\/tickets\/5" }
+ Response 400 (application/json)

    + Body
            
            { "error": "Cannot create a support ticket because this license was not purchased through 4Virtuals.com" }
            
            { "error": "Error creating support ticket." }


